@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: #34353a;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.image {
  margin-left: 15%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.UnorderedList {
  display: flex;
  gap: 10%;
  color: #979798;
  list-style: none;
}
.list {
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left;
  text-indent: 0px;
  font-size: 27px;
  text-decoration: none;
}

#logo {
  text-align: center;
  height: 70px;
  object-fit: contain;
}

.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

body.light {
  background-color: #fff;
  color: #34353a;
}

i {
  font-size: 18px;
}
.Image {
  background-image: url(/Assets/macboo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#name {
  font-family: Great Vibes sans-serif;
  font-size: 40px;
  font-family: "Courgette", cursive;
  color: #ffe26d;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.Paragraph {
  max-width: 40%;
  font-family: "Courgette", cursive;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}
#FirstPara {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #f4d248;
}
